* {
	color: white !important;
	background-color: #404040 !important;
	border-color: green !important;
}
a, .dropdown {
	color:#00a1d2 !important;
	background-color: transparent !important;
}
.button, .container,.img, .meta {
	color: #00a1d2 !important;
	background-color: transparent !important;
}
input {
	color: white !important;
	background-color: #404040 !important;
}
span,div,form {
	color: white !important;
	background-color: inherit !important;
}